* {
  font-family: 'Share Tech Mono', monospace;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.fluid-container {

}

.col-sm-4 {
  border: 5px solid black;
}

button {
  padding: 15px 15px;
}

.btn-number,
.btn-decimal {
  font-size: 36px;
}
.btn-math {
  font-size: 36px;
  background-color: lightblue;
}
.btn-clear {
  font-size: 36px;
  background-color: pink;
  margin-top: 10px;
}
.btn-equals {
  font-size: 36px;
  background-color: lightsteelblue;
}

#div-current-total,
#div-running-display {
  font-size: 48px;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px 10px;
  overflow: hidden;
}

button:focus {
  outline: none;
}

.button-clicked {
  background-color: lightgrey;
  border: 1px solid grey;
}
